/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
}

button {
    outline: none;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

select {
    outline: none;
}

body {
    padding: 5px;
}

.wrap {
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* header */

.header {
    height: 380px;
    background-image: url(../img/Hero.png);
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header>.title {
    font-size: 40px;
    margin-top: 89px;
    color: #FFF;
    font-weight: normal;
}

.header .select {
    width: 452px;
    height: 48px;
    border: 3px #FFF solid;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../img/icons_down.png);
    background-repeat: no-repeat;
    background-position: center right 11px;
    padding: 9.5px;
    margin-top: 96px;
}

.header .popular {
    width: 800px;
    border-radius: 5px;
    background-color: #FFF;
    position: absolute;
    bottom: -84px;
    left: 112px;
    padding: 18px;
    padding-bottom: 3px;
}

.header .popular>.title {
    padding: 2px;
    font-size: 18px;
    line-height: 21px;
    margin-left: 6px;
}

.header .popular .list {
    margin: 12px 17px 0px 17px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.header .popular .list .list-button {
    margin: 0 15px 15px 15px;
    width: 130px;
    height: 42px;
    color: #FFF;
    font-size: 20px;
    line-height: 21px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .popular .list .list-button.purple {
    background-color: #8A82CC;
}

.header .popular .list .list-button.orange {
    background-color: #FFA782;
}

.header .popular .list .list-button.yellow {
    background-color: #F5D005;
}

.header .popular .list .list-button.blue {
    background-color: #559AC8;
}

.main {
    background-color: #F7F7F7;
    padding: 39px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main .line {
    position: relative;
    width: 900px;
    height: 1px;
    margin-top: 113px;
    border: 0;
    background-image: url(../img/dash.png);
    overflow: initial;
    background-repeat: initial;
}

.main .line::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -11.5px;
    left: 438px;
    border: #559AC8 1px solid;
    border-radius: 50%;
    background-size: 12px 10px;
    background-image: url(../img/icons_down_blue.png);
    background-repeat: no-repeat;
    background-position: center 8px;
    background-color: #F7F7F7;
}

.main .title {
    font-size: 36px;
    line-height: 73px;
    margin-top: 76px;
    color: #8A82CC;
}

.main .list {
    width: 944px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main .list .alert{
    width: 100%;
    text-align: center;
}

.main .list .spot {
    height: 273px;
    width: 464px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.main .list .spot .name {
    margin: 117px 0 14px 22px;
    color: #FFF;
    font-size: 24px;
    line-height: 28px;
}

.main .list .spot .name a{
    color: #FFF;
}

.main .list .spot .aria {
    margin: 125px 24px 11px 0;
    color: #FFF;
    font-size: 16px;
    line-height: 19px;
}

.main .list .spot .information {
    width: 100%;
    height: 118px;
    background-color: #fff;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 16px 19px 22px 22px;
}

.main .list .spot .information .time, .main .list .spot .information .address, .main .list .spot .information .phone, .main .list .spot .information .tag {
    display: flex;
    justify-content: flex-start;
}

.main .list .spot .information .time, .main .list .spot .information .address {
    width: 100%;
}

.main .list .spot .information .address{
    color: #000;
}

.main .list .spot .information .phone {
    color: #000;
    width: 320px;
}

.main .list .spot .information .tag {
    width: 94px;
}

.main .list .spot .information .time::before, .main .list .spot .information .address::before, .main .list .spot .information .phone::before, .main .list .spot .information .tag::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

.main .list .spot .information .time::before {
    background-size: 18px 18px;
    background-image: url(../img/icons_clock.png);
}

.main .list .spot .information .address::before {
    background-size: 16px 20px;
    background-image: url(../img/icons_pin.png);
}

.main .list .spot .information .phone::before {
    background-size: 12px 20px;
    background-image: url(../img/icons_phone.png);
}

.main .list .spot .information .tag::before {
    background-size: 20px 20px;
    background-image: url(../img/icons_tag.png);
}

.main .pagination {
    margin-top: 8px;
}

.main .pagination .pag-button {
    color: #4A4A4A;
    font-size: 14px;
    line-height: 17px;
}

.main .pagination .pag-button.number {
    width: 24px;
    height: 24px;
    margin: 0px 4px;
}

.main .pagination .pag-button.previous, .main .pagination .pag-button.next {
    height: 24px;
    margin: 0px 22px;
}

.main .pagination .pag-button.active {
    cursor: initial;
}

.main .pagination .pag-button.active, .main .pagination .pag-button:hover, .main .pagination .pag-button:active {
    color: #559AC8;
}

.main .pagination .pag-button.unable, .main .pagination .pag-button.unable:hover {
    color: #4A4A4A;
    opacity: 0.5;
    cursor: initial;
}

.footer {
    height: 90px;
    background-color: #559AC8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
}

.footer .title {
    color: #FFF;
    margin-top: 24px;
}

.footer .reference {
    color: #FFD366;
    margin-top: 15px;
    margin-bottom: 23px;
}